<div class="panel panel-default sprite-list">
    <div class="panel-heading">Sprites</div>
    <div class="panel-body">
        <ul>
            {{#each sprites as |sprite|}}
                <li>
                    <div class="preview">
                        <img src="{{sprite.image}}" />
                    </div>
                    <div class="name">Sprite 1</div>
                    <div class="last-modified">Last Modified: 2017-11-24</div>
                </li>
            {{/each}}
        </ul>
    </div>
</div>