<div id="sprite-editor" class="row">
    <div class="col-md-12">
        {{#if palette}}
            {{sprite-editor/editor-container
                src=sprite.image
                palette=palette}}
        {{else}}
            Loading...
        {{/if}}
    </div>
</div>
<div id="palette-panel" class="panel panel-default">
    <div class="panel-heading">Palette</div>
    <div class="panel-body">
        {{palette/palette-container onLoad="loadPalette"}}
    </div>
</div>